.matcard {
    width: 424px;
    height:287px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border: 2px solid white;
    border-width: thin;
    margin-top: 20px;
}
.ResetButton{
    width: 255px;
    height: 37px;
    background: #a03037 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    border: none;
    margin-top: 38px;
}
.Createaccount{
    width: 458px;margin-left: -17px;margin-top: 19px;height: 95px;border: none;
}