<div class="header">
    <div class="row-head">
        <div class="logo">
             <img src="./assets/images/education.svg" class="image">
        </div>
        <span class="bookstore">Bookstore</span>
  
        <mat-form-field class="search" >
            <input type="text" matInput placeholder="Search">
        </mat-form-field>
        <span class="cart">Cart</span>
        <div class="logo">
            <img src="./assets/images/supermarket.svg" class="image">
       </div>
    </div>
  </div>