<div class="header">
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="logo">
        <div class="logo-image"><img src="./assets/images/education.svg" alt=""></div>
        <span class="logo-text">Bookstore</span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="search-div">
        <input type="text" class="search-box" placeholder="Search">
    </div>
    <div class="spacer">
        <span class="spacer"></span>
    </div>
    <div class="spacer-between">
        <span class="spacer-between"></span>
    </div>
    <div class="cart-logo">
        <div class="cart-text">Cart</div>
        <img src="assets/images/supermarket.svg" alt="">
    </div>
</div>