<app-header></app-header>
<div fxLayout="column" fxLayoutAlign="start center">
    <div>
        <img src="./assets/images/placeorder.svg" width="200px" height="200px;">
    </div>

    <div>
        <p style="text-align: center;font: normal normal normal 18px/22px Lato;color: #333232;opacity: 1;">
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>

    <TABLE style="border: none;" BORDER="0" WIDTH="70%" CELLPADDING="10" CELLSPACING="0">
        <TR style="border: 1px solid #DCDCDC;background-color: gainsboro">
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Email</H3>
            </TH>
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Contact us</H3>
            </TH>
            <TH COLSPAN="1">
                <H3 style="text-align: center;">Address</H3>
            </TH>
        </TR>
        <TR>
            <TH style="color: #333232;opacity: 0.71;"> codewithharry999@gmail.com</TH>
            <TH style="color: #333232;opacity: 0.71;">9877665544</TH>
            <TH style="color: #333232;opacity: 0.71; ">Pune, Maharashtra</TH>
        </TR>
    </TABLE>

    <div>
        <button (click)="onhomepage()" class="continueshopping" style="color: white;">Continue Shopping</button>
    </div>
</div>