table, th, td {
    border: 1px solid black;
 }
 
 .continueshopping{
    width: 200px;
    height: 37px;
    background: #4266b2 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
    margin-top: 20px;
  }