<div class="container-center">
    <h1 class="head">Reset your password</h1>
    <div class="dashbord">
        <h3 class="subtitle">Please enter your new password
        </h3>
        <br />
        <form #resetForm="ngForm">
            <h6 class="name">New Password</h6>
            <input class="input-reset" type="password" matInput="emailFormControl" placeholder="New Password"
                name="newPassword">

            <h6 class="name">Confirm Password</h6>
            <input class="input-reset" type="password" matInput="emailFormControl" placeholder="Confirm Password"
                name="confirmPassword" [(ngModel)]="resetPassword.confirmPassword">
            <button class="reset" type="submit">Reset Your

                Password</button>
        </form>
    </div>
</div>
